
<div>
    <h1>Add A Cupcake</h1>
    <form ng-submit="onSubmit()">
        <label>Cupcake Name:<input ng-model="cake.name" type="text" required autofocus></label>
        <label>Cupcake Frosting Flavor:<input ng-model="cake.frostingflavor" type="text" required></label>
        <label>Cupcake Flavor:<input ng-model="cake.flavor" type="text" required></label>
        <label>Cupcake Color:<input ng-model="cake.color" type="text" required></label>
        <button type="submit">Create Cupcake</button>
    </form>
</div>
