{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-6 col-sm-3 userlogImgName pull-right">
        <p class="col-xs-6 hidden-xs">{{ session.usr }}</p>
        <img class="col-xs-5 col-sm-5 pull-right" src='{{ session.userImgLink }}' alt="{{ session.usr }} image">
    </div>
</div>
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/dash/">Dash</a>
            <li role="presentation" class="active"><a href="/settings/">Settings</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted"><a href="/dash/">Git Automated</a></h3>
    </nav>
</div>
<h1>Settings</h1>

<form class="col-xs-12" action="/settingsSubmit" method="GET">
    <div class="form-group">
    <label class=" col-xs-12">
        Git Add, Commit
        {% if n1 == 1 %}
        <input type="checkbox" checked name="gitAC" value="1" data-toggle="toggle">
        {% else %}
        <input type="checkbox" name="gitAC" value="1" data-toggle="toggle">
        {% endif %}
    </label>
    <label class="push-right col-xs-12">
        Git Push
        {% if n2 == 1 %}
        <input type="checkbox" checked name="gitPu" value="2" data-toggle="toggle">
        {% else %}
        <input type="checkbox" name="gitPu" value="2" data-toggle="toggle">
        {% endif %}
    </label>
    </div>
    <input class="btn settingSub" type="submit" value="Save Changes"></input>
</form>

{% endblock %}

