{% extends 'base.html' %}
{% block content %}
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/dash/">Dash</a>
            <li role="presentation"><a href="/settings/">Settings</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted"><a href="/">Git App</a></h3>
    </nav>
</div>
<h1>Settings</h1>

<form class="col-md-12" action="/settingsSubmit" method="GET">
    <div class="form-group">
    <label class="push-right">
        Git Add, Commit
        {% if n1 == 1 %}
        <input type="checkbox" checked name="gitAC" value="1" data-toggle="toggle">
        {% else %}
        <input type="checkbox" name="gitAC" value="1" data-toggle="toggle">
        {% endif %}
    </label>
    <label class="push-right">
        Git Push
        {% if n2 == 1 %}
        <input type="checkbox" checked name="gitPu" value="2" data-toggle="toggle">
        {% else %}
        <input type="checkbox" name="gitPu" value="2" data-toggle="toggle">
        {% endif %}
    </label>
   <!--  {# {% for num in n %}
        <label class="push-right">
            {% if num == 1 and num == 2 %}
                Git Add, Commit
                <input type="checkbox" checked name="gitAC" value="1" data-toggle="toggle">
                <input type="checkbox" checked name="gitPu" value="2" data-toggle="toggle">
            {% endif %}
            {% if num == 1 %}
                Git Add, Commit
                <input type="checkbox" checked name="gitAC" value="1" data-toggle="toggle">
                <input type="checkbox"  name="gitPu" value="2" data-toggle="toggle">
            {% endif %}
            {% if num == 2 %}
                Git Add, Commit
                <input type="checkbox"  name="gitAC" value="1" data-toggle="toggle">
                <input type="checkbox" checked name="gitPu" value="2" data-toggle="toggle">
            {% endif %}
        </label>
    {% endfor %} #} -->
    </div>
    <input class="btn settingSub" type="submit" value="Save Changes"></input>
</form>

{% endblock %}

